@import "https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap";
* {
  padding: 0;
  margin: 0;
}
html {
  font-size: 10px;
  font-family: "Montserrat", sans-serif;
}
a {
  text-decoration: none;
}
.container {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}

/* Header section */
#header {
  min-height: 6vh;
}
.nav-bar {
  display: flex;
  align-items: center;
  max-width: 1300px;
  padding: 5px;
  border-bottom: 1px solid #5dc2a7;
}
/* End Header section */

/* Hero Section */
#hero {
  background-image: url(./img/kids.png);
  background-size: cover;
  position: relative;
  z-index: 1;
}
#hero::after {
  content: "";
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background-color: rgb(32, 32, 32);
  opacity: 0.6;
  z-index: -1;
}
#hero .hero {
  margin-left: 60px;
  justify-content: flex-start;
}
#hero h1 {
  font-size: 4rem;
  font-family: sans-serif;
  margin-bottom: 20px;
  color: white;
}
.link_course {
  color: white;
  font-size: 2rem;
  margin-bottom: 10px;
}
.link_course a {
  color: rgb(2, 255, 36);
}
.hero_content {
  max-width: 700px;
  color: white;
  font-size: 1.4rem;
}
.hero_content h2 {
  margin-bottom: 5px;
}
/* End Hero Section */

/* About Section */
#about .about {
  flex-direction: row;
  text-align: center;
  max-width: 1200px;
  margin: 0 auto;
  padding: 10px 20px;
}

#about .col-right {
  width: 100%;
  text-align: left;
  padding: 30px;
}
#about .col-right h1 {
  font-size: 5rem;
}
#about .col-right h2 {
  font-size: 1.8rem;
  font-style: italic;
  font-weight: 400;
  letter-spacing: 0.2rem;
  margin-bottom: 20px;
}
#about .col-right {
  font-size: 1.5rem;
}
#about .col-right .c-title {
  margin: 10px 5px 2px;
  color: rgb(31, 141, 104);
}
/* End About Section */

/* Footer */
#footer {
  background-image: linear-gradient(60deg, #2189bd 0%, #36954d 100%);
}
#footer .footer {
  min-height: 150px;
  flex-direction: column;
  padding: 20px;
}
#footer h1 {
  color: white;
  font-weight: 500;
  font-size: 2rem;
}
#footer h2 {
  color: white;
  font-weight: 500;
  font-size: 1.5rem;
  letter-spacing: 0.1rem;
  margin-top: 10px;
  margin-bottom: 10px;
}

#footer p {
  color: white;
  font-size: 1.3rem;
}
/* End Footer */
